streamlit==1.39.0
tensorflow==2.16.1
numpy==1.26.4
pandas==2.2.2
opencv-python-headless==4.10.0.84
Pillow==10.4.0
scikit-learn==1.5.1
matplotlib==3.9.2
plotly==5.24.1
requests==2.32.3
deep-translator==1.11.4
SpeechRecognition==3.10.4
gTTS==2.5.3
qrcode==8.0
pyzbar==0.1.9
streamlit-camera-input-live==0.2.0
pydub==0.25.1